# Maven
/target/
build/

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Logs
*.log
